<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/task-10/javascript/script.js"></script> 
    <script src="/task-10/javascript/pagination.js"></script> 
    <script src="/task-10/javascript/search.js"></script> 
    <script src="/task-10/javascript/fetchJson.js"></script> 
    <script src="/task-10/javascript/getData.js"></script> 
    <link rel="stylesheet" href="/task-10/css/style.css">
</head>

<body onload="createTable()" id="body">
    <div id="search" style="width:fit-content;display: flex;margin: auto;"></div>
 <div id="data"></div>
 <div class="paginationsection">
    <div id="pagination" style="width:fit-content;display: flex;margin: auto;"></div>
 </div>
 
</body>

</html>