<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/task-10/javascript/displayscript.js"></script>
    <link rel="stylesheet" href="/task-10/css/style.css">
</head>

<body onload="displaydata()" id="body">
    <div id="data"></div>
    <br>
    <div id="btn" ></div>
    <br>
    <div id="comment" ></div>
</body>

</html>