<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/task-11/css/style.css">
    <script src="/task-11/javascript/form.js"></script>
    <script>
        let UpdateData=(id)=>{
            window.location.href=`http://localhost:8080/update/${id}`;
        }
       
    </script>
</head>

<body onload="loadData()">
    <table id="candidates">
    </table>
    <script>

    </script>
</body>

</html>