<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Bootstrap Advance Admin Template</title>
    <link href="/task-12/assets/css/bootstrap.css" rel="stylesheet" />
   
    <link href="/task-12/assets/css/font-awesome.css" rel="stylesheet" />
   
    <link href="/task-12/assets/css/basic.css" rel="stylesheet" />
   
    <link href="/task-12/assets/css/custom.css" rel="stylesheet" />
  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <style>
        table,td {
            border: 1px solid;
        }
        td{
            width:50px;
            height:50px;
        }
        .bg1
        {
            background-color: black;
        }
        body
        {
            align:center;
        }
        

    </style>
</head>
<body>
    <div id="wrapper">
        <%- include('../header/header.ejs') %>
       
        <div id="page-wrapper" style="text-align: center;">
            <center>
            <h1>
                YASHVI GHETIYA
                24DEV038
            </h1>
            <form>
                <input type="button" value="add row" name="addrow" onclick="onaddrowfunction()">
            </form>
            <form>
                <input type="button" value="sub row" name="subrow" onclick="onsubrowfunction()">
            </form>
            <form>
                <input type="button" value="add col" name="addcol" onclick="onaddcolfunction()">
            </form>
            <form>
                <input type="button" value="sub col" name="subcol" onclick="onsubcolfunction()">
            </form>
            <br>
            <br>
            <table id="table1" class="center">
                <tr>
                    <td class="bg1">
                    </td>
                    <td>
                    </td>
                </tr>   
                <tr>
                    <td>
                    </td>
                    <td class="bg1">
                    </td>
                </tr>   
            </table>
        </center>
        </div>
      
    </div>
    <script>
        
        function onaddcolfunction()
        {
           let trs =document.querySelectorAll("#table1 tr");
           let cols = document.getElementById('table1').rows[0].cells.length;
           var rows= document.getElementById("table1").rows.length;
           var r=0;
           for(let tr of trs)
           {
                let td=document.createElement("td");
                
                if(cols%2==0 && r%2==0)
                {
                    td.style.backgroundColor="black";
                }
                if(cols%2!=0 && r%2!=0)
                {
                    td.style.backgroundColor="black";
                }
                r++;  
                tr.appendChild(td);   
           }
        }
        function onaddrowfunction()
        {
            let table = document.querySelector('#table1');

            let tr = document.createElement('tr');
            let cols = document.getElementById('table1').rows[0].cells.length;
            var rows= document.getElementById("table1").rows.length;

            for (let i = 1; i <= cols; i++) {
                let td = document.createElement('td');

                if((i%2!=0 && rows%2==0)||(i%2==0 && rows%2!=0))
                {
                    td.style.backgroundColor="black";
                }
                tr.appendChild(td);
            }

            table.appendChild(tr);
        }
        function onsubcolfunction()
        {
            var table = document.getElementById("table1");
            var rowCount = table.rows.length;
            let cols = document.getElementById('table1').rows[0].cells.length;
        
            if(cols>=3)
            {
                for (var i = 0; i < rowCount; i++) {
                  
                table.rows[i].deleteCell(cols-1);

                }
            }
            
        }
        function onsubrowfunction()
        {
            var x = document.getElementById("table1").rows.length;

            if(x>2)
            {
                document.getElementById("table1").deleteRow(x-1);
            }            
        }
    </script>
    <script src="/task-12/assets/js/jquery-1.10.2.js"></script>
    <script src="/task-12/assets/js/bootstrap.js"></script>
    <script src="/task-12/assets/js/jquery.metisMenu.js"></script>
    <script src="/task-12/assets/js/custom.js"></script>
</body>
</html>
