<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/task-7/css/pagination.css">
</head>
<body>
    <div class="pagination" style="justify-content: center;display: flex;margin-top: 20px;margin-bottom:20px;">
       
        <button id="firstpage" class="btn">&lt;&lt;</button>
        <button id="previouspage" class="btn" >&lt;</button>
        <div id="currentpage" class="btn" style="margin-right: 5px;"><%= page %></div>
        <% disabled='' %>
        <% if(page==lastpage) { %>
            <% disabled='disabled' %>
        <% } %>
        <button id="nextpage" class="btn">&gt;</button>
        <button id="lastpage" class="btn">&gt;&gt;</button>
    </div>
    
</body>
</html>