<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Bootstrap Advance Admin Template</title>
    <link href="/task-12/assets/css/bootstrap.css" rel="stylesheet" />
   
    <link href="/task-12/assets/css/font-awesome.css" rel="stylesheet" />
   
    <link href="/task-12/assets/css/basic.css" rel="stylesheet" />
   
    <link href="/task-12/assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="/task-11/css/style.css">
    <script src="/task-11/javascript/form.js"></script>
    <script>
        let UpdateData=(id)=>{
            window.location.href=`http://localhost:8080/dashboard/task-11/update/${id}`;
        }
       
    </script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body onload="loadData()">
    <div id="wrapper">
        <%- include('../../header/header.ejs') %>
        <div id="page-wrapper">
            
            <table id="candidates">
            </table>
        </div>
      
    </div>
   
    <script src="/task-12/assets/js/jquery-1.10.2.js"></script>
    <script src="/task-12/assets/js/bootstrap.js"></script>
    <script src="/task-12/assets/js/jquery.metisMenu.js"></script>
    <script src="/task-12/assets/js/custom.js"></script>
</body>
</html>
