<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Bootstrap Advance Admin Template</title>
    <link href="/task-12/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/task-12/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/task-12/assets/css/basic.css" rel="stylesheet" />
    <link href="/task-12/assets/css/custom.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/task-11/css/form.css" rel="stylesheet">
    <link href="/task-11/css/alert.css" rel="stylesheet">
    <script src="/task-11/javascript/validations.js"></script>
    <script src="/task-11/javascript/form.js"></script>
    <script src="/task-11/javascript/update.js"></script>
    <script src="/task-11/javascript/addelement.js"></script>
    <script>
        function fun(node) {
            node.parentNode.remove();
        }
    </script>
</head>

<body onload="onloadfun()">
    <div id="wrapper">
        <%- include('../../header/header.ejs') %>

            <div id="page-wrapper">

                <form id="regForm">
                    <h1>Employee Register:</h1>

                    <div class="tab">
                        <fieldset>
                            <legend>Basic Details</legend>


                            <label for="fname">First name:</label>
                            <input type="text" id="fname" name="fname" placeholder="abc" tabindex="1"></input>

                            <br>
                            <label for="lname">Last name:</label>
                            <input type="text" id="lname" name="lname" placeholder="abc" tabindex="2"></input>

                            <br>
                            <label for="designation">Designation:</label>
                            <input id="desig" type="text" name="desig" placeholder="abc"></input>

                            <br><br>
                            <div style="display: flex;flex-direction: row;">
                                <label for="address1" style="margin: auto 0;">Address1:</label>
                                <textarea name="add1" id="add1"
                                    placeholder="block-29, Om Residency, Rajkot, Gujarat"></textarea>
                            </div>


                            <br>
                            <label for="designation">Email:</label>
                            <input name="email" id="email" type="text" placeholder="abc@gmail.com"></input>
                            <label id="emailvalid" style="margin: auto 0;color: red;display: none;">Enter email in valid
                                format</label>

                            <br><br>
                            <div style="display: flex;flex-direction: row;">
                                <label for="add2" style="margin: auto 0;">Address2:</label>
                                <textarea name="add2" id="add2"
                                    placeholder="block-29, Om Residency, Rajkot, Gujarat"></textarea>
                            </div>

                            <br>
                            <label for="phonenumber">Phone Number:</label>
                            <input name="contact" id="contact" tabindex="3" type="text"
                                placeholder="1234567890"></input>
                            <label id="contactvalid" style="margin: auto 0;color: red;display: none;">Enter Contact in valid
                                format</label>
                            <br><br>

                            <div style="display: flex;flex-direction: row;">
                                <label for="state" style="margin: auto 0;">State:</label>
                                <select name="state" id="state" onchange="stateSeleted()">
                                </select>
                                <label id="statevalid" style="margin: auto 0;color: red;display: none;">Select
                                    State</label>
                            </div>
                            <br>

                            <div style="display: flex;flex-direction: row;">
                                <label for="city" style="margin: auto 0;">City:</label>
                                <select name="city" id="city">
                                </select>
                                <label id="cityvalid" style="margin: auto 0;color: red;display: none;">Select
                                    City</label>
                            </div>
                            <br><br>
                            <div style="display: flex;flex-direction: row;width: 200px;">
                                <label for="gender" style="margin: auto 0;">Gender:</label>
                                <input type="radio" id="male" name="gender" value="male">male</input>
                                <input type="radio" id="female" name="gender" value="female">female</input>
                            </div>
                            <label id="gendervalid" style="margin: auto 0;color: red;display: none;">Select
                                Gender</label>
                            <br>
                            <div style="display: flex;flex-direction: row;width: 200px;">
                                <label for="Relationship" style="margin: auto 0;">Relationship:</label>
                                <select name="relationship" id="relationship">
                                    <option name="relationshipop" value="Single">Single</option>
                                    <option name="relationshipop" value="Married">Married</option>
                                    <option name="relationshipop" value="Divorcee">Divorcee</option>
                                </select>
                                <label id="relationvalid" style="margin: auto 0;color: red;display: none;">Select
                                    Relation</label>
                            </div>
                            <br><br>
                           
                                <label for="zipcode">Zip Code:</label>
                                <input name="zipcode" id="zipcode" type="text" placeholder="360005"></input>
                                <label id="zipvalid" style="color: red;display: none;">Enter zipcode in
                                    Proper Format</label>
                         
                            <br><br>
                            <label for="DateOfBirth">Date Of Birth:</label>
                            <input name="dob" id="dob" type="text" placeholder="31-05-2001"></input>
                            <label id="dobvalid" style="color: red;display: none;">Enter Date in Format (YYYY-MM-DD)</label>
                        </fieldset>
                    </div>

                    <div class="tab">

                        <fieldset>
                            <legend>Education Detail</legend>
                            <br>
                            <fieldset>
                                <legend>SSC Result</legend>

                                <table title="SSCresult">
                                    <tr>
                                        <td>
                                            <label for="nameofborad">Name Of Board:</label>
                                            <input name="degree[]" value="ssc" type="hidden"></input>
                                            <input name="eduid[]" type="hidden"></input>
                                            <input type="text" name="edu[]" placeholder="ISCE"></input>

                                        </td>
                                        <td>
                                            <label for="passingyear">Passing Year:</label>
                                            <input type="text" name="edupassingyear[]" placeholder="YYYY"
                                                id="sscpassingyear" min="1999" max="2020"></input>
                                        </td>
                                        <td>
                                            <label for="percentage">Percentage:</label>
                                            <input type="text" name="eduper[]" placeholder="99.99"></input>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <br>
                            <fieldset>
                                <legend>HSC/Diploma Result</legend>
                                <table title="SSCresult">
                                    <tr>
                                        <td>
                                            <label for="nameofborad">Name Of Board:</label>
                                            <input name="degree[]" value="hsc" type="hidden"></input>
                                            <input name="eduid[]" type="hidden"></input>
                                            <input type="text" name="edu[]" placeholder="ISCE"></input>

                                        </td>
                                        <td>
                                            <label for="passingyear">Passing Year:</label>
                                            <input type="text" name="edupassingyear[]" placeholder="YYYY"
                                                id="sscpassingyear" min="2020" max="2022"></input>

                                        </td>
                                        <td>
                                            <label for="percentage">Percentage:</label>
                                            <input type="text" name="eduper[]" placeholder="99.99"></input>

                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <br>
                            <fieldset>
                                <legend>Bachelor Degree</legend>
                                <table title="Bachelordegree">
                                    <tr>
                                        <td>
                                            <input value="bachelor" name="degree[]" type="hidden"></input>
                                            <label for="coursename">Course Name:</label>
                                            <input name="eduid[]" type="hidden"></input>
                                            <input type="text" name="edu[]" placeholder="BE"></input>

                                        </td>

                                        <td>
                                            <label for="passingyear">Passing Year:</label>
                                            <input type="text" name="edupassingyear[]" placeholder="YYYY"
                                                id="sscpassingyear" min="1999" max="2020"></input>

                                        </td>
                                        <td>
                                            <label for="percentage">Percentage:</label>
                                            <input type="text" name="eduper[]" placeholder="99.99"></input>

                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <br>
                            <fieldset>
                                <legend>Master Degree</legend>
                                <table title="masterdegree">
                                    <tr>
                                        <td>
                                            <input value="master" name="degree[]" type="hidden"></input>
                                            <label for="coursename">Course Name:</label>
                                            <input name="eduid[]" type="hidden"></input>
                                            <input type="text" name="edu[]" placeholder="ME"></input>

                                        </td>

                                        <td>
                                            <label for="passingyear">Passing Year:</label>
                                            <input type="text" name="edupassingyear[]" placeholder="YYYY"
                                                id="sscpassingyear" min="1999" max="2020"></input>

                                        </td>
                                        <td>
                                            <label for="percentage">Percentage:</label>
                                            <input type="text" name="eduper[]" placeholder="99.99"></input>

                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <br>
                        </fieldset>

                    </div>

                    <div class="tab">
                        <fieldset>
                            <legend>Work Experience</legend>
                            <input type="button" onclick="addwork()" value="+"></input>
                            <table title="workexperience">
                                <tbody id="workexperience">
                                    <tr id="worktr">
                                        <td>
                                            <input name="workid[]" type="hidden"></input>
                                        </td>
                                        <td>
                                            <label>Company Name:</label>

                                            <input type="text" name="company[]" placeholder="TCS"></input>
                                        </td>
                                        <td>
                                            <label>Designation:</label>
                                            <input type="text" name="des[]" placeholder="Junior Developer"></input>
                                        </td>
                                        <td>
                                            <label>From:</label>
                                            <input type="text" name="workfrom[]" placeholder="2001-09-30"></input>

                                        </td>
                                        <td>
                                            <label>To:</label>
                                            <input type="text" name="workto[]" placeholder="2001-09-30"></input>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </fieldset>
                    </div>

                    <div class="tab">
                        <fieldset>
                            <legend>Technologies you know</legend>
                            <table title="workexperience">
                                <tr>
                                    <td>
                                        <label for="php">php</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="php" value="Beginner"></input>
                                        <label for="Beginner">Beginner</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="php" value="Mideator"></input>
                                        <label for="Mideator">Mideator</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="php" value="Expert"></input>
                                        <label for="Expert">Expert</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <label for="mysql">mysql</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="mysql" value="Beginner"></input>
                                        <label for="Beginner">Beginner</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="mysql" value="Mideator"></input>
                                        <label for="Mideator">Mideator</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="mysql" value="Expert"></input>
                                        <label for="Expert">Expert</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <label for="laravel">Laravel</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="laravel" value="Beginner"></input>
                                        <label for="Beginner">Beginner</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="laravel" value="Mideator"></input>
                                        <label for="Mideator">Mideator</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="laravel" value="Expert"></input>
                                        <label for="Expert">Expert</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <label for="Oracle">Oracle</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="oracle" value="Beginner"></input>
                                        <label for="Beginner">Beginner</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="oracle" value="Mideator"></input>
                                        <label for="Mideator">Mideator</label>
                                    </td>
                                    <td>
                                        <input type="radio" name="oracle" value="Expert"></input>
                                        <label for="Expert">Expert</label>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>

                    <div class="tab">
                        <fieldset>
                            <legend>Language Known</legend>
                            <table title="workexperience">
                                <tr>
                                    <td>
                                        <label for="hindi">Hindi</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="hindi[]" value="canRead"></input>
                                        <label for="readh">Read</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="hindi[]" value="canWrite"></input>
                                        <label for="writeh">Write</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="hindi[]" value="canSpeak"></input>
                                        <label for="speakh">Speak</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <label for="english">English</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="english[]" value="canRead"></input>
                                        <label for="reade">Read</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="english[]" value="canWrite"></input>
                                        <label for="writee">Write</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="english[]" value="canSpeak"></input>
                                        <label for="speake">Speak</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <label for="gujarati">Gujarati</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="gujarati[]" value="canRead"></input>
                                        <label for="readg">Read</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="gujarati[]" value="canWrite"></input>
                                        <label for="writeg">Write</label>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="gujarati[]" value="canSpeak"></input>
                                        <label for="speakg">Speak</label>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>

                    <div class="tab">
                        <fieldset>
                            <legend>Referance Contact</legend>
                            <input type="button" onclick="addref()" value="+"></input>
                            <table>
                                <tbody id="reference">
                                    <tr>
                                        <td>
                                            <input name="rid[]" type="hidden"></input>
                                        </td>
                                        <td>
                                            <label for="name">Name:</label>
                                            <input type="text" name="refname[]" placeholder="abc"></input>
                                        </td>
                                        <td>
                                            <label for="contact">Contact:</label>
                                            <input type="text" name="refcontact[]" placeholder="1234567890"></input>
                                        </td>
                                        <td>
                                            <label for="relation">Relation:</label>
                                            <input type="text" name="refrel[]" placeholder="friend"></input>
                                        </td>

                                    </tr>
                                </tbody>

                            </table>
                        </fieldset>
                    </div>

                    <div class="tab">
                        <fieldset>
                            <legend>Prefrences</legend>
                            <table title="workexperience">
                                <tr>
                                    <td>
                                        <label for="location">Prefered Location:</label>
                                        <select multiple name="preferedlocation" id="preferedlocation">
                                            <option name="location" value="Ahmedabad">Ahmedabad</option>
                                            <option name="location" value="Rajkot">Rajkot</option>
                                            <option name="location" value="Surat">Surat</option>
                                            <option name="location" value="Bhavnagar">Bhavnagar</option>
                                            <option name="location" value="Texas">Texas</option>
                                        </select>
                                    </td>
                                    <td>
                                        <label for="noticeperiod">Notice Period:</label>
                                        <input type="text" id="noticeperiod" name="noticeperiod"></input>
                                    </td>
                                    <td>
                                        <label for="relation">Department:</label>
                                        <select name="department" id="department">
                                            <option name="dept" value="Development">Development</option>
                                            <option name="dept" value="Designing">Designing</option>
                                            <option name="dept" value="HR">HR</option>
                                            <option name="dept" value="Marketing">Marketing</option>
                                        </select>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <label for="expectedctc">Expected CTC:</label>
                                        <input id="expectedCTC" type="text" name="expectedCTC">
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>

                                        <label for="currentctc">Current CTC:</label>
                                        <input type="text" id="currentCTC" name="currentCTC">

                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>

                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                        </div>
                    </div>

                    <div style="text-align:center;margin-top:40px;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>

                </form>
                <div class="alert" id="alert" style="display: none;text-align: center;">
                    <span class="closebtn" onclick="clearform()">&times;</span>
                    <strong>Success!</strong> Data Saved SuccessFully.
                </div>

            </div>

    </div>
    <script>
        var currentTab = 0;
        var submitype = "<%=submitype%>";
        showTab(currentTab); 
    </script>
    <script src="/task-12/assets/js/jquery-1.10.2.js"></script>
    <script src="/task-12/assets/js/bootstrap.js"></script>
    <script src="/task-12/assets/js/jquery.metisMenu.js"></script>
    <script src="/task-12/assets/js/custom.js"></script>
</body>

</html>