<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link href="/task-12/css/login.css" rel="stylesheet">
    <script src="/task-12/javascript/login.js"></script>
    <script src="/task-12/javascript/fetchAPI_POST.js"></script>
    <script src="/task-12/javascript/fetchAPI_GET.js"></script>
    <script src='https://asbros.github.io/popup.js/popup.js'></script>
</head>

<body>
    <div class="main" id="main">
        <h1>Yashvi Ghetiya<br>21 March 2024<br>24DEV038</h1>
        <form id="login">
            <h2>Login Form</h2>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" />
            <label id="emailvalidation" style="font-size: 13px;"></label>

            <h3 style="text-align: center;">OR</h3>

            <label for="mobile">Contact:</label>
            <input type="text" id="mobile" name="mobile" />
            <label id="contactvalidation" style="font-size: 13px;"></label>


            <label for="password">Password:</label>
            <input type="text" id="password" name="password" />
           
            <h4 onclick="window.location.href='/task-12/userVerification'">Forgot Password?</h4>
            <p class="button" onclick="validation()">Login</p>
            <div style="display: flex;justify-content: center;"><h5>Don't have an Account?<h5 class="singup" onclick="window.location.href='/task-12/registration'">&nbsp;Sign Up</h5></h5></div>
        </form>
    </div>
</body>
</html>